# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore compiled files
*.class
*.o
*.exe

# Ignore temporary files
*~

# Ignore specific files
camera.html
git_push.sh
index_org.html